<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4><em>Stay Aware</em></h4>
    <p>“Do I want to know why you're so informed about spyware?" she asked.
Nikolaos gave her a charming, dazzling smile. "No, my dear. You do not.” </p>
  </div>
 
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.facebook.com/profile.php?id=100013672573725"><%= fa_icon "facebook" %></li>
      <li><a href="https://github.com/DeanDK"><%= fa_icon "github" %></li>
    </ol>
  </div>
</div>