<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.png", width: 300, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>I am a Croat (20) who was born and raised in Bosnia & Herzegovina. Apart from being a software developer, I enjoy following penny stocks, watching tv shows 
        and all kinds of sports. You'll mostly find me spending my time with the my family and friends I love. </p>
        
        <p>Having in mind education, I am specialized as a Cross Media student, or more concretely, as a software developer. I'm currently attending
        4h semester at VIA University College in Denmark.</p>
       
       
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Other skills 
          </button>
          
            <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#languages"
            aria-expanded="false"
            aria-controler="languages"
          >
           Languages
          </button>
          
          </button>
          
            <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#certificate"
            aria-expanded="false"
            aria-controler="certificate"
          >
          Certificates
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              .NET Programming
            </div>
            <div class="card card-block">
              Android application development
            </div>
             <div class="card card-block">
             HTML5, CSS3, Bootstrap, XML
            </div>
              <div class="card card-block">
            Javascript & JQuery
            </div>
          </div>
          
           <div class="collapse" id="certificate">
            <div class="card card-block">
              Ruby on Rails 5 Certificate | signed by Jordan Hudgens
            </div>
            <div class="card card-block">
              Cyber Security Certificate | signed by Nathan House
            </div>
          </div>
          
           <div class="collapse" id="languages">
            <div class="card card-block">
              English
            </div>
            <div class="card card-block">
             Croatian
            </div>
             <div class="card card-block">
             Bosnian
            </div>
              <div class="card card-block">
             Serbian
            </div>
              <div class="card card-block">
             Danish (basic)
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
             VIA University College
             <p>Bachelor of Information and Communication Technology - ICT</p>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>